

.menuWrapper {
  box-shadow: 0 0 5px #eeeeee;
  width: 200px;
  border: 2px solid #eee;
  border-radius: 10px;
}

.menuWrapper a:link {
  color: #7c7c7c;
  text-decoration: none;
}

.menuWrapper a:visited {
  color: inherit;
}

.menuWrapper > div {
  border-radius: 10px;

}

.menuWrapper > div > div {
  position: relative;
  padding: 11px 20px;
}

.menuWrapper > div > div:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.menuWrapper > div > div:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.menuWrapper > div > div:not(:last-child):before {
  box-sizing: border-box;
  border-bottom: 1px solid #eeeeee;
  bottom: 0;
  content: "";
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 90%;
}

.menuWrapper > div > div:after {
  box-sizing: border-box;
  color: #000000;
  content: url(../assets/arrow.svg);
  width: 10px;
  font-size: 14px;
  left: auto;
  position: absolute;
  right: 22px;
  top: 10px;
  z-index: 2;
}

.subMenuItem > div {
  min-width: 150px;
  color: #333;
  border-radius: 10px;
  padding: 20px 0 !important;
  border: 4px solid #e5e5e5 !important;
  box-shadow: none !important;
}

.subMenuItem > div > div > div{
  position: relative;
  color: #7c7c7c;
  padding: 2px 20px !important;
}

.subMenuItem > div > div > div:hover {
  color: #333;
  padding: 2px 20px !important;
}

.subMenuItem > div > div > div::after {
  content: url(../assets/arrow.svg);
  font-family: "FontAwesome";
  width: 10px;
  position: absolute;
  left: auto;
  right: 15px;
  top: 3px;
  color: #777777;
}

.subMenuItem a {
  position: relative;
  color: inherit;
  text-decoration: none;
}

.subMenuItem a:visited {
  color: inherit;
}
